#pop-Up{
    font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  padding: 30px;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666;
}
#pop-Up1{
    font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  padding: 30px;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666;
}
.contoneurParents{
  padding: 0px;
}
#dernierDiv{
  text-align: right;
}
#Ajouter{
  margin-top: 2%;
  margin-bottom:5%; 
}
#nameToLower{
	text-transform: lowercase;
}
 
#nameToLower:first-letter {
	text-transform: capitalize;
}
.delete{
  text-align: right;
}
.BtnPopUpMargin{
  margin-left: 65%;
}
.withoutMargeAndPading{
  margin-left: 0px;
  padding-left: 0px;
}
#loadded{
  margin-top:10%;
  margin-left:50%;
}
